footer {
    position: absolute;
    bottom: 0;
    background-color: #1d1d1d;

}

body {
    background-color: #0c0c0c;
    color: rgb(228, 228, 228);
    text-align: center;
}

body h4 {
    font-style: oblique;
}

body p {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

body a:visited, body a:link {
    color: rgb(102, 194, 224);
  }

.nav-bar ul, footer ul {
    background-color: #1d1d1d;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li, footer li {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-bar a:link, .nav-bar a:visited, footer a:visited, footer a:link {
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    display: inline-block;
    color: rgb(228, 228, 228);
}

.nav-bar a:hover, .nav-bar a:active, footer a:hover, footer a:active {
    background-color: #0c0c0c;
    text-decoration: underline;
}

img {
    width: 35%;
    height: auto;
}

body article {
    width: 40%;
    height: auto;
    align-content: block;
    text-align: left;
    margin-left: 100px;
    font-size: large;
}

.r_justify {
    float: right;
    padding-right: 50px;
}

.column {
    float: left;
    width: 31%;
    padding: 15px;
    
  }
  
.row::after {
    content: "";
    clear: both;
    display: inline-block;
    padding-left: 50px;
  }

  .c_paragraph {
      font-size: x-large;
  }